/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}


/* layout */

.container {
    width: 80%;
    margin: 0 auto;
  }

.dot{
    border: 1px black dashed;
}

.flex{
    display: flex;
}

.w30{
    width: 20%;
}


    /* color */

    

/* header */

.intestat{
    height: 80%;
    padding: auto 0;
}

.header{
    height: 80px;
    background-color: rgb(173, 216, 230);
    display: flex;
    align-items: center;
}

.yellow{
    background-color: rgb(218, 165, 32);
}


.link{
    flex-grow: 1;
}

.link > p{
    display: inline-block;
    margin: 10px;
    padding-top: 50%;
}

