/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

.pad{
    padding: 20px 0px;
}

/* layout */

.container {
    width: 80%;
    margin: 0 auto;
  }

.dot{
    border: 1px black dashed;
}

.flex{
    display: flex;
}

    /* color */

    .yellow{
        background-color: rgb(218, 165, 32);
    }

    .blue  {
        background-color: rgb(0, 0, 139);
    }

    .pink{
        background-color: rgb(255, 192, 203);
    }

    .celest{
        background-color: rgb(30, 144, 255);
    }

    .gray{
        background-color: rgb(211, 211, 211);
    }

    .green{
        background-color: #228B22;
    }

    .purple{
        background-color: purple;
    }

    .black-blue{
        background-color: #23272A;
    }

/* header */

.h80{
    height: 80px
}

.flex-head{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.head-item{
    width: 25%;
    padding: 10px 10px;
    
}

.head-list{
    flex-grow: 1;
    padding: 10px 230px;
}

 .head-list > ul li{
    display: inline;
    padding: 0px 5px;
 }

 .login{
    text-align: end;
 }

/* main */


.h100{
    height: 100%;
}

.w20{
    width: 20%;
}

.w25{
    width: 25%;

}
.w40{
    width: 40%;
}

.w60{
    width: 60%;
}


.def-height{
    height: 350px;
}

.big-height{
    height: 450px;
}


/* footer */

.footer{
    border-bottom: gray solid 3px ;
    border-top: gray solid 3px ;
    height: 80px;
}

.flex-foot{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.car-foot{
    padding: 5px 20px;
}

    
    
